Hi! someone is interested in workful! that is great! <br><br>

<span>Fullname:</span> &#09; <span><%= @request.fullname %></span><br>
<span>Email:</span> &#09; <span><%= @request.email %></span><br>
<span>Company name:</span> &#09; <span><%= @request.company_name %></span>
