<div class="container">
  <div class="row">
    <div class="col-md-12 box-white">
      <h2>Add your credit card</h2>
      <%= form_tag('/users/save_credit_card', method: :post, class: 'payment-form') do %>
        <span class="payment-errors col-md-12"></span>

        <div class="form-group">
          <label for="cardNumber">
              CARD NUMBER</label>
          <div class="input-group">
            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number" data-stripe="number" required />
            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-7 col-md-7">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label for="expityMonth">EXPIRY DATE</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-lg-6 pl-ziro">
                  <input type="text" class="form-control" id="expityMonth" placeholder="MM" data-stripe="exp-month" maxlength="2" required />
                </div>
                <div class="col-xs-6 col-lg-6 pl-ziro">
                  <input type="text" class="form-control" id="expityYear" placeholder="YY" data-stripe="exp-year" maxlength="2" required />
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-5 col-md-5 pull-right">
            <div class="form-group">
              <label for="cvCode">CV CODE</label>
              <input type="password" class="form-control" id="cvCode" placeholder="CV" data-stripe="cvc" maxlength="3" required />
            </div>
          </div>
        </div>
        <div class="field actions">
          <%= submit_tag 'Save', class: "btn-success btn-full-width btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
