<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">All perks</a></li>
  <% @categories.each do |category| %>
    <li role="presentation"><a href="#cat5"><%= category %></a></li>
  <% end %>
</ul>