<div class="container">
  <h1>You still have <strong style="color:#828282;"><%= credit_available %>$</strong> of available credit.</h1>
  <p class="lead">You have to spend all your credit to enjoy perks.</p>
</div>