<div class="container" style="background-color: #F3F3F3; width: 100%; padding-top: 20px;">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" data-toggle="tooltip" data-placement="bottom" title="Your used credit for this month">
          <h4 class="pull-left">Credit used:</h4>
          <h4 class="pull-right text-info">125$</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" data-toggle="tooltip" data-placement="bottom" title="You must spend all your budget each month. This is what remains actually.">
          <h4 class="pull-left">Credit available:</h4>
          <h4 class="pull-right text-success">75$</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" data-toggle="tooltip" data-placement="bottom" title="Time remaining to set your entire badget, otherwise your perks will not be active">
          <h4 class="pull-left">Days left:</h4>
          <h4 class="pull-right text-danger">7</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" data-toggle="tooltip" data-placement="bottom" title="This is your total monthly credit to spend">
          <h4 class="pull-left">Monthly credit:</h4>
          <h4 class="pull-right text-muted">200$</h4>
        </div>
      </div>
    </div>
  </div>
</div>