<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="thumbnail">
    <a href="#"><span style="position: absolute; right: 22px; top: 8px;" class="fa fa-cog" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Manage account"></span></a>
    <%= image_tag perk.item.image.url(:thumb) %>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Go to your profile"><span class="fa fa-share-square-o" aria-hidden="true"></span></button>
      </div>
      <div class="btn-group" role="group">
        <select class="form-control" id="sel1" data-toggle="tooltip" data-placement="top" title="Set your budget">
          <option>25$</option>
          <option>50$</option>
          <option>75$</option>
          <option>100$</option>
          <option>125$</option>
          <option>150$</option>
          <option>175$</option>
          <option>200$</option>
        </select>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Cancel this perk"><span class="fa fa-times" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>