<div class="row" style="padding: 20px;">
  <div class="col-md-2">
    <%= image_tag element.item.image, width: 80 %>
  </div>
  <div class="col-md-2" style="margin-top: 10px;">
    <p><%= element.item.description %></p>
    <p><%= element.amount.to_i %>$</p>
  </div>
</div>