<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Workful | Increase your employees productivity, happiness and retention</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body id="home" data-offset="80" data-target=".navbar" data-spy="scroll">

        <!-- Navigation -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <header class="header">
            <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container relative-nav-container">
                    <a class="toggle-button visible-xs-block" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-navicon"></i>
                    </a>
                    <a class="navbar-brand scroll" href="/">
                        <img class="normal-logo hidden-xs"  src="assets/logo.svg" width="144" height="44" alt="logo"/>
                        <img class="inverse-logo hidden-xs" src="assets/logo-w.png" alt="logo"/>
                        <img class="visible-xs-block" src="assets/logo.svg" width="144" height="44" alt="logo"/>
                    </a>
                <div class="navbar-collapse collapse floated" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-with-inside clearfix navbar-right with-border">

                            <li><a href="#whatwedo">What we do</a></li>
                            <li><a href="#gallery">Contact</a></li>
                            <li><a href="http://blog.workful.co" target="_blank">Blog</a></li>
                            <li><a style="color:#a7cc3f; font-weight:400; text-transform:uppercase;" href="#request">Request a demo</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header><!--/.header -->


       <!-- Home - 2  - Header -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="home-header dark">
            <div class="container"> 
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h1 class="text-center">Increase productivity through well-being</h1>
                        <p class="subtitle text-center">Perks tailored for everyones happiness</p>
                        <div class="row">
<!--                             <div class="col-md-4" style=" margin-bottom:18px;">
                                <a class="btn btn-info" href="#programs">Learn more</a></div> -->
                            <div class="col-md-12 text-center">
                                <a class="btn btn-primary" href="#request">REQUEST A DEMO</a>
                            </div>
                        </div>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>

          <!-- About -  Services -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="wrap-programs" id="programs" >

            <!--<a class="striped-icon divider scroll" href="#programs">
                <i class="fa fa-chevron-down"></i>
            </a>-->

            <div class="container">
              <!-- section header -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <header class="section-header">
                            <h2>What do employees say about benefits package?</h2>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 clearfix col-sm-6 col-xs-12 program-item">
                        <div class="program-icon">
                            <div class="chart wow fadeIn" data-percent="78"><p>78%</p></div>
                        </div>
                        <div class="program-text">said that is very or extremely important in their decision to <b>accept or reject a job</b></div>
                    </div>

                    <div class="col-md-4 clearfix col-sm-6 col-xs-12 program-item">
                        <div class="program-icon">
                            <div class="chart wow" data-percent="80"><p>80%</p></div>
                        </div>
                        <div class="program-text">would <b>value benefits customized</b> to individual circumstances and age</div>
                    </div>

                    <div class="col-md-4 clearfix col-sm-6 col-xs-12 program-item">
                        <div class="program-icon">
                            <div class="chart wow" data-percent="59"><p>59%</p></div>
                        </div>
                        <div class="program-text">are very interested in a <b>greater variety</b> of benefits to choose from</div>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>

        <!-- Service - Navigation -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <span id="whatwedo" class="anchor"></span>
        <section class="wrap-service-nav">

           <!-- <a class="striped-icon divider scroll" href="#whatwedo">
                <i class="fa fa-chevron-down"></i>
            </a>-->

            <div class="container">
                <!-- section header -->
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <header class="section-header" >
                            <h2>What We do</h2>
                        </header> 
                    </div>
                </div>
            </div>
        </section>


        <!-- Service - Services -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="steps wrap-services" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                       <h3>Perks like big companies:</h3>
                        <p class="large">We enable growing companies to increase the quality and variety of perks to offer to their employees, with no effort and no additional costs. For each service needed we choose the best providers and partner only with one of them, like big companies do.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="img-responsive center" style="max-width: 500px !important; margin: auto !important;" src="assets/ill1.svg"/>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>

        <!-- Service - Concierge -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="steps wrap-concierge" id="concierge">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img class="img-responsive center" style="max-width: 500px !important; margin: auto !important; margin-bottom:20px !important;"  src="assets/ill2.svg"/>
                    </div>
                    <div class="col-md-6">
                      <h3>Benefits customization</h3>
                        <p class="large">With an easy to use and comprehensive platform we let employees create the portfolio of services they want and need. Each month we have it on auto-renew or they can explore new useful services they might like.</p>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>

        <!-- Service - Culture assestment -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="steps wrap-culture" id="culture">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>One solution that please everyone</h3>
                        <p class="large">Companies usually offer perks that meet the needs of only some employees. By using Workful, no one in the team is left behind because part of a minority, like new parents or pet owners, and while improving happiness, companies increase their productivity and efficiency. </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="img-responsive center" style="max-width: 500px !important; margin: auto !important;"  src="assets/ill3.svg"/>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>

        <!-- Service - Workful Recognition -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="steps wrap-recognition" id="recognition">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img class="img-responsive center" style="max-width: 500px !important; margin: auto !important; margin-bottom:20px !important;"  src="assets/ill4.svg"/>
                    </div>
                    <div class="col-md-6">
                        <h3>Seamless platform</h3>
                        <p class="large">With Workful, companies can outsource the process of making deals with providers, reconciling multiple services, managing credits and billings. We take care of everything, employees get what they really want and the the HR department save time.</p>
                    </div>
                </div><!--row-->
                <%= render partial: 'shared/request_demo', locals: {form_id: 'main-form'} %>
            </div><!--container-->
        </section>


        <!-- Home - Steps -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="steps" id="section-steps">
            <!--<a class="striped-icon divider scroll" href="#section-steps">
                <i class="fa fa-chevron-down"></i>
            </a>-->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <header class="section-header">
                            <h2>How does it work?</h2>
                        </header>
                    </div>
                </div><!--row-->
                <div class="row">
                    <div class="col-md-4">
                        <article>
                            <div class="striped-icon-small uno" >1</div>
                            <img src="assets/icons/icon-1.svg" style=" width:100px; height:100px; " alt="icon" />
                            <h5>Companies set employees budget</h5>
                            <p style="font-size:16px; line-height:26px; font-weight: 300">Companies decide how much monthly budget they want to give to their employees to be used on time-saving services.</p>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article>
                            <div class="striped-icon-small dos">2</div>
                            <img src="assets/icons/icon-2.svg" style=" width:100px; height:100px; " alt="icon" />
                            <h5>Employees set their preferences</h5>
                            <p style="font-size:16px; line-height:26px; font-weight: 300">Employees choose the services they want to use with their budget, based on their specific needs, and the preference are automatically set for each month.</p>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article>
                            <div class="striped-icon-small tres">3</div>
                            <img src="assets/icons/icon-3.svg" style=" width:100px; height:100px; " alt="icon" />
                            <h5>Employees receive their credit</h5>
                            <p style="font-size:16px; line-height:26px; font-weight: 300">Employees automatically receive each month a credit to use on their services accounts. At any time they can change their preferences, or add more personal credit at special rates.</p>
                        </article>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>

        <!--Features -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="wrap-features" id="features">
            <!--<a href="#features" class="striped-icon divider scroll">
                <i class="fa fa-chevron-down"></i>
            </a>-->
            <div class="container">
              <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <header class="section-header">
                            <h2 style="color:#ffffff !important;">Why Workful</h2>
                        </header> 
                    </div>
                </div>  
                <div class="row" style="margin-bottom:50px;">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 box-colored box2">
          <div class="view">
            <div class="default">
              <i class="fa fa-smile-o fa-4x" style="color:#a6cd34"></i>
              <h3 class="box-title">Boost Morale</h3>
            </div>
            <div class="mask">
              <p class="descr">Give your employees time-saving perks that boost their morale and make them more productive and efficient.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 box-colored box3">
          <div class="view">
            <div class="default">
              <i class="fa fa-magnet fa-4x" style="color:#a6cd34"></i>
              <h3 class="box-title">Attract more talent</h3>
            </div>
            <div class="mask">
              <p class="descr">Be recognized as a company that offers useful and personalized perks. Improve your workplace satisfaction, happiness and retention.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 box-colored box2">
          <div class="view">
            <div class="default">
              <i class="fa fa-usd fa-4x" style="color:#a6cd34"></i>
              <h3 class="box-title">Save Money</h3>
            </div>
            <div class="mask">
              <p class="descr">Reduce absenteeism, sick days and health related costs by responding to the specific needs that keep employees busy and stressed.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 box-colored box4">
          <div class="view">
            <div class="default">
              <i class="fa fa-clock-o fa-4x" style="color:#a6cd34"></i>
              <h3 class="box-title">Save time</h3>
            </div>
            <div class="mask">
              <p class="descr">Relieve the HR department from time-consuming negotiations and program implementations. Workful requires no integration and can be launched in days.</p>
            </div>
          </div>
        </div>
      </div>
                </div>
            </div>
        </section>

        <!-- Home - Twitter -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="twitter dark parallax-section-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <article>
                            <i class="fa fa-quote-right"></i>
                            <div id="twitter-carousel">
                                <div class="twitter-feed">
                                    <p>"Most people spend a substantial portion of their lives working, so the quality of their workplace experience is bound to be reflected in the quality of their lives. By offering employees the right perks, companies can increase their worker’s productivity, and win the war for talent."</p>
                                    <footer>Technology Advice Research</footer>
                                </div>
                                <div class="twitter-feed">
                                    <p>“In the coming century, the organizations that respond to the realities of employees’ day-to-day lives will be ahead of the curve. The ‘as-if’ organization – the company that continues to operate as if its employees had no outside lives – will be history.”</p>
                                    <footer>Families and Work Institute</footer>
                                </div>
                                <div class="twitter-feed">
                                    <p>“Companies in the U.S. experienced an estimated $74 billion in direct costs and lost opportunities due to unplanned absences. Over 20% of those absences were due to family issues including breakdowns in child and adult care.”</p>
                                    <footer>U.S. Bureau of Labor Statistics</footer>
                                </div>
                            </div>
                        </article>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>

        <footer>
        <!-- Home - Gallery -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <span class="anchor" id="gallery"></span>
        <section class="gallery">
            <div class="container">
                <%= render partial: 'shared/request_demo', locals: {form_id: 'footer-form'} %>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <img class="img-responsive" style=" width:250px; display:block; margin:0 auto 20px" src="assets/logo_color.svg" />
                    </div>
                </div><!--row-->
                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="copyright-links list-inline text-center">
                              <li><a href="https://www.facebook.com/workful" target="_blank">
                                  <span class="fa-stack fa-2x" style="color:#3b559a;">
                      <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                                </a></li>
                                <li><a href="https://twitter.com/workful" target="_blank">
                                  <span class="fa-stack fa-2x" style="color:#63a8e2;">
                      <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                                </a></li>
                                <li><a href="https://www.linkedin.com/company/workful" target="_blank">
                                  <span class="fa-stack fa-2x" style="color:#1775ba;">
                      <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                      <h4 style="font-weight:300; font-size:20px;">Workful helps companies meet every employee’s need.</h4>
                    </div>
                  </div><!--row-->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="copyright-links list-inline text-center">
                              <li>
                                  <span class="fa-stack fa-2x" style="color:#a8ce00;">
                    <i class="fa fa-phone fa-stack-1x"></i>
                  </span>
                                <span style="font-size:16px; font-weight:300; color:#2b2e33;">+1 (707) 344-9675</span></li>
                                <li>
                                  <span class="fa-stack fa-2x" style="color:#a8ce00;">
                    <i class="fa fa-envelope fa-stack-1x"></i>
                  </span>
                                <span style="font-size:16px; font-weight:300; color:#2b2e33;">hello@workful.co</span></li>
                                <li>
                                  <span class="fa-stack fa-2x" style="color:#a8ce00;">
                    <i class="fa fa-home fa-stack-1x"></i>
                  </span>
                                <span style="font-size:16px; font-weight:300; color:#2b2e33;">424 Clay St. San Francisco, CA 94111</span></li>
                            </ul>
                        </div>
                    </div>
            </div><!--container-->

        </section>

            <!-- Copyright One-->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <section class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <p>Workful &copy; 2015 – All rights reserved</p>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</html>

