// Place all the styles related to the invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.companies-configure {
  .container {
    max-width: 900px;
    margin-top: 75px;
  }
  .users-invited {
    .no-users {
      padding: 25px;
    }
  }
}
