// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-page, .sessions-page, .registrations-page {
  .container {
    width: 450px;
    margin-top: 15%;
  }
  .box {
    background: #fff;
    border: 1px solid #cdd8dc;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
    padding: 40px;
  }
}
