  .box-white {
    background: #fff;
    border: 1px solid #cdd8dc;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
    padding: 40px;
  }
.text-center {
  text-align: center;
}
