.box-white {
    background: #fff;
    border: 1px solid #cdd8dc;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
    padding: 40px;
  }
.text-center {
  text-align: center;
}
.full-width-u {
  width: 100%;
}
.field_with_errors {
  .form-control {
    width: 100%;
  }
  input {
    border: 1px solid red;
  }
  br {
    display: none;
  }
}
.field_with_errors + br {
  display: none;
}
#error_explanation {
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.payment-errors {
  color: red;
  font-weight: bold;
  margin: 15px auto;
  text-align: center;
}
.notice, .alert {
  border-radius: 0px;
}
.monthly-budget-left {
  padding: 17px 0px;
}

.navbar-default .navbar-nav > li > .selected{
  border-bottom: 3px solid #a7cc3f;
  font-weight: 600;
}
