<div class="subscriptions-confirmation" id="subscriptions-confirmation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><%= current_user.first_name.capitalize%>, enjoy the following perks you chose for <%= display_full_next_month %>!</h3>
      </div>
    </div>
    <% @active_subscriptions.each do |subscription| %>
      <%= render partial: 'shared/subscription_confirmation_element', locals: {element: subscription}%>
    <% end %>
    </div>
  </div>
</div>
